html {
    --bg-color: #343434;
    --h-font-family: "Futura";
    color: white;
}

body {
    margin: 50px 5px;
    background-color: var(--bg-color);
}

h1, h2, h3 {
    font-family: var(--h-font-family);
    color: white;
}

h3 {
    margin: 20px 0;
}

p, li {
    color: white;
} 

hr {
    border-top: none;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}